@import url("https://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&display=swap");

:root {
  --font-base: "Inter", sans-serif;
  --font-title: "Bai Jamjuree", sans-serif;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  font-family: var(--font-base);
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.watch-border {
  border: 1px solid blue;
}

.section-title {
  /* font-family: var(--font-title); */
  line-height: 32px;
  font-size: 24px;
  letter-spacing: -0.48px;
  margin-bottom: 40px;
}

/* header */
.header {
  position: sticky;
  top: 0;
  background-color: #000;
  background-image: url(./assets/Grain.png);
  background-size: contain;
}

.header-nav {
  justify-content: flex-start;
  min-height: 4rem;
  padding-left: 164px;
}

.header-list {
  width: 756px;
  align-items: center;
}

.header-item a {
  color: #fff;
}

.header-item:not(:last-child) {
  margin-right: 33px;
}

/* summary */
#summary {
  padding: 32px;
  position: relative;
  z-index: 5;
  height: 698px;
  background-color: #000;
}

#summary::before {
  content: "";
  position: absolute;
  top: 414px;
  right: 760px;
  box-shadow: 0 0 650px 650px rgb(255 255 255 / 10%);
}

#summary::after {
  content: "";
  position: absolute;
  top: 56px;
  left: 226px;
  box-shadow: 0 0 350px 350px rgb(255 255 255 / 10%);
}

.hero {
  justify-content: space-around;
  position: relative;
}

.hero-left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-title);
  position: relative;

  bottom: -136px;
  width: 450px;
  transform: rotate(270deg);
}

.hero-left_side h1 {
  color: #fff;
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -0.8px;
}

.hero-left_side h1::first-line {
  font-size: 56px;
  line-height: 64px;
}

.hero-left_side p {
  padding: 0;
  margin: 0;
  /* font-family: "Bai Jamjuree"; */
  color: #fff;
  font-size: 24px;
}

.hero-right_side {
  position: relative;
  width: 676px;
}

.hero-right_side p {
  margin: 0;

  color: #fff;

  /* font-family: "Inter", sans-serif; */
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.26px;

  margin-bottom: 46px;
}

.hero-right_side img {
  position: absolute;
}

/* contact */
.contact {
  padding-left: 164px;
}

.contact-wrapper {
  padding: 24px 0 24px 0;
  width: 350px;
}

.contact-title {
  font-size: 16px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.contact-list {
  flex-direction: column;
  /* font-family: "Inter", sans-serif; */
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.26px;
}

.contact-item a {
  color: #000;
  display: flex;
  align-items: center;
  gap: 12px;
}

.line-break {
  display: inline-block;
  width: 100%;
  max-width: 1112px;
  height: 1px;
  background-color: #eee;
  margin-bottom: 96px;
}

.main {
  display: flex;
  gap: 147px;
  margin-bottom: 50px;
  padding: 24px;
}

.main-left_side {
  width: 500px;
  padding-left: 140px;
}

/* education */
.education-list {
  gap: 20px;
}
.education-list,
.education-sublist {
  flex-direction: column;
}

.education-sublist {
  /* margin-bottom: 8px; */
  gap: 8px;
  padding-left: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.26px;
  color: #000;
}

.education {
  flex-direction: column;
  margin-bottom: 50px;
}

.education-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.26px;
  color: #000;
}

.education-item {
  flex-direction: column;
  margin: 0;
  gap: 8px;
}

h3 {
  margin: 0;
}

.education-sublist_item:not(:last-child) {
  margin-bottom: 8px;
}

.education-sublist_item a {
  color: #6140e5;
}

.education-years {
  color: #6140e5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.18px;
}

.education-description {
  margin: 0;
  width: 332px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.09px;
}

/* skills */
/* languages */
/* #skills {
  margin-bottom: 50px;
} */

.skills-list,
.languages-list {
  flex-direction: column;
  gap: 12px;
}

.skills-item,
.languages-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.26px;
}

.skills-item a {
  color: #6140e5;
}

/* experience */
/* .experience {
  margin-bottom: 70px;
} */

.experience-list {
  flex-direction: column;
}

.experience-item {
  padding: 40px;
  max-width: 633px;
  background-color: #fafafa;
}

.experience-item a {
  color: #000;
}

.experience-item:not(:last-child) {
  margin-bottom: 40px;
}

.experience-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.26px;
  margin-bottom: 8px;
}

.experience-description {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.09px;
  color: #525252;
}

.code-example {
  padding: 40px;
  background-color: #fafafa;
}

.code-example pre {
  margin: 0;
}

/* footer */
.footer {
  /* display: flex; */

  /* justify-content: center; */
  /* min-height: 4rem; */
  border-top: 1px solid #000;
}

.footer-list {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.09px;
  height: 4rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.footer-item a {
  display: flex;
  color: #000;
  /* height: 35px; */
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

a:hover {
  /* color: #6140e5; */
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
  text-decoration: underline;
}

@media screen and (max-width: 1180px) {
  .container {
    max-width: 1180px;
  }

  .header-nav {
    padding-left: 56px;
  }

  .hero {
    flex-direction: column;
  }

  .hero-left_side {
    bottom: 0;
    transform: none;
    margin-bottom: 40px;
  }

  .hero-right_side {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-direction: row-reverse;
  }

  .hero-right_side .hero-about {
    margin-bottom: 40px;
    align-self: end;
  }

  .hero-right_side img {
    position: relative;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  #summary {
    height: 100%;
    padding-bottom: 0;
  }

  .contact {
    padding-left: 56px;
  }

  .line-break {
    margin-bottom: 40px;
  }

  .main {
    padding: 0 32px 0 32px;
    flex-direction: column;
    gap: 0;
  }

  .main-left_side {
    padding-left: 24px;
    margin-bottom: 32px;
    width: 100%;
  }

  .main-right_side {
    padding-left: 24px;
  }

  .education-description {
    font-size: 16px;
  }

  .footer-list {
    padding: 32px;
  }
}

@media screen and (max-width: 960px) {
  .hero-right_side {
    flex-direction: column;
  }

  .hero-right_side img {
    margin-right: 0;
    margin-bottom: 40px;
  }

  pre {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    margin-bottom: 20px;
  }
  .line-break {
    margin-bottom: 20px;
  }
  section {
    margin-bottom: 40px;
  }
  .contact {
    margin-bottom: 20px;
  }
  .main-left_side {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .contact {
    padding-left: 32px;
  }
  .main-left_side {
    padding-left: 0;
  }
  .main-right_side {
    padding-left: 0;
  }
  .header-nav {
    padding-left: 20px;
  }
  .code-example {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .header-nav {
    padding: 5px;
  }
  .header-list {
    gap: 10px;
  }
  .header-item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .header-item {
    text-align: center;
  }

  .hero-left_side {
    width: auto;
  }

  .hero-left_side h1 {
    font-size: 70px;
  }
  #summary {
    padding: 12px;
  }
}

@media screen and (max-width: 500px) {
  .header-item {
    font-size: 14px;
  }
}
